{% extends 'base.html.twig' %}

{% block title %}Hello BackendController!{% endblock %}

{% block body %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('register') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('register') }}
    {% endblock %}
    <div id="register">
    </div>
{% endblock %}
