* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #53565A; */
  background-image: linear-gradient(to top left, #ffffff, #090909);
}

form {
  display: block;
  position: relative;
}

form:after{
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #ffff00, #e11414);  
}
form .form-inner{
  position: relative;
  display: block;
  background-color: #fff;
  padding: 30px;
  z-index: 2;
}

form .form-inner h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
 }

form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
 }

.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;

}

.form-inner .form-group:focus-within label {
  color: #FE4880;
  
}

form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}

form .form-inner input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to top right, #FFCE00 30%, #FFCE00 30%, #e11414);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner input[type="submit"]:hover {
  background-position: 100% 0%;
  color: #090909;
}

form div[class="error"] {
  color: #e11414;
  font-weight: 500;
  padding: 10px;
  margin-top: -15px;
  text-align: center;
  position: relative;
  overflow-wrap: break-word;
  max-width: 300px;
}

form div[class="warning"] {
  color: #1ee114;
  font-weight: 500;
  padding: 10px;
  margin-top: -15px;
  text-align: center;
  position: relative;
  overflow-wrap: break-word;
  max-width: 300px;
}

form a[class="redirect"] {
  /* display: inline-block; */
  padding: 10px 15px;
  border-radius: 8px;
  background-size: 100%;
  background-position: 0%;
  transition: 0.4s;
  color: #666;
  cursor: pointer;
  position: relative;
}

form a[class="redirect-password"] {
  /* display: inline-block; */
  padding: 10px 15px;
  border-radius: 8px;
  background-size: 100%;
  background-position: 0%;
  transition: 0.4s;
  color: #666;
  cursor: pointer;
  margin-left: 40px;
}

form .form-inner input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to top right, #FFCE00 30%, #FFCE00 30%, #e11414);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner a[class="redirect-restore"] {
  padding: auto;
  transition: 0.4s;
  color: #666;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 60px;
  display:block;
  text-decoration-line: underline;
}

h3 {
  color: rgb(56, 28, 156);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
 }

